.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
*.php
application/config/config.php
js/buscar.js
!/application/controllers/Users.php
!/application/views/users/login.php
!/application/views/users/success.php
!/application/models/Usuarionuevo.php
!/application/controllers/Correo.php
!/application/views/emailTemplate.php
!/application/views/emailTemplate2.php
!/application/views/emailTemplate3.php
!/application/views/correos/inscripcion.php
!/application/views/correos/contacto.php
!/application/views/correos/recordatorio_juego.php
!/application/views/torneo/rechazausuario.php
!/application/views/admin/recordatorio.php
!/application/views/torneo/confirmausuario.php
!/application/views/correos/confirma.php
!/application/views/correos/rechaza.php
!/application/views/admin/jugadores.php
!/application/views/admin/editprofile.php
!/application/views/admin/editprofile_empty.php
!/application/models/Admin.php
!/application/models/AdminModel.php
!/application/views/torneo/resultadoelimdir.php